includes:
  - 'phpstan-baseline.neon'

parameters:
    level: max
    ignoreErrors: []

    typeAliases:
      SerializerContext: 'array{serializeRelations?: array<string>}'

    paths:
        - src
        # - Tests/Units
