includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - 'phpstan-baseline.neon'
  - 'aliases.neon'

parameters:
  level: max
  ignoreErrors: []
  treatPhpDocTypesAsCertain: false

  paths:
    - src
    - phpstan-extension
    # - Tests/Units
